.community {
  &__title {
    @include font($title-font-size, $title-color, 600);
    text-align: center;
  }
  &__description {
    @include font($secondary-font-size, $main-color);
    width: 437px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;

    @include mediaMobile {
      width: 100%;
    }
  }

  &__card-content {
    display: flex;
    justify-content: space-between;
    gap: 16.71px;
    margin-top: $padding-s;

    @include mediaMobile {
      flex-direction: column;
    }
  }
  &__card {
    position: relative;

    @include mediaMobile {
      margin-bottom: 40px;
    }
  }
  &__img {
    width: 100%;
    border-radius: $border-rad;
  }

  &__overlay {
    background-color: $bg-color;
    text-align: center;
    width: calc(100% - 50px);
    padding: $padding-s;
    position: absolute;
    top: 75%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    box-shadow: 0px 5.569px 11.137px 0px rgba(171, 190, 209, 0.40);
    border-radius: $border-rad;

    @include font(0.87rem, $main-color, 600);

    @include mediaMobile {
      top: 90%;
      width: calc(100% - 150px);
    }
  }
}

.overlay {
  &__description {
    margin-bottom: $padding-s;
  }
}