.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}

// Navigation
.nav {
  &__logo {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    transition: all 0.3s;
    @include font($secondary-font-size, $title-color, 500);

    @include mediaMobile {
      display: none;
    }
  }

  &__item {
    &:hover {
      text-decoration: underline;
    }

    &.btn {
      @include mediaMobile {
        font-size: $title-font-size;
        padding: 3px 1rem;
      }
    }
  }

  &-btn {
    display: none;
    flex-direction: column;
    gap: 4px;
    background: transparent;
    border: none;
    transition: all 0.3s;

    @include mediaMobile {
      display: flex;
    }
  }
}

.nav-mobile--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-color: #fff;
  font-size: $title-font-size;
  z-index: 1;
  transform: translate(0);
  box-shadow: 0 0 7px rgba(171, 190, 209, 0.20);
}

.line {
  display: block;
  background-color: $dark;
  width: 20px;
  height: 2px;
  transition: all 0.3s;
}

.nav-btn--active {
  display: block;
  position: absolute;
  right: 50px;
  z-index: 2;

  .line-1 {
    transform: rotate(45deg);
    position: absolute;
  }

  .line-3 {
    transform: rotate(-45deg);
    position: absolute;
  }

  .line-2 {
    display: none;
  }
}

// Header
.header {
  &__main {
    background-color: $bg-color;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 66.82px 0;
    }
  }

  .highlight {
    color: $green;
  }

  &__info {
    max-width: 500px;
  }

  &__title {
    @include font($mainTitle-font-size, $title-color, 600);
  }

  &__text {
    @include font($secondary-font-size, $main-color);
    margin: 22.27px 0;
  }

  &__btn {
    display: inline-block;
  }

  &__img {
    width: 30%;
  }
}