// Font colors
$main-color: #717171;
$title-color: #4D4D4D;
$blue-dark: #263238;
$dark: #18191F;
$white: #fff;
$gray: #F5F7FA;

// Background colors
$green: #4CAF4F;
$bg-color: #F5F7FA;

// Font sizes
$base-font-size: 9.745px; // 0.609rem - 9.745px
$secondary-font-size: 11.137px; //  0.696rem - 11.137px
$title-font-size: 25.09px; // 1.568rem - 25.09px
$mainTitle-font-size: 44.548px; // 2.784rem - 44.548px

// Block sizes
$btn-padding: 9.74px 22.27px; // 0.609rem 1.391rem - 9.74px 22.27px

// Padding size
$padding-s: 11.14px;
$padding-l: 22.27px; //  1.391rem - 22.27px
$margin-section: 33.41px;

// border size
$border-rad: 5.569px; // 0.348rem - 5.569px

// Device size
$mobile: 650px;

// Mixins
@mixin font($size, $color, $weight: 400) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin mediaMobile {
  @media screen and (max-width:$mobile) {
    @content
  }
}